@keyframes wave {
	0% {
		background-size: 0 0;
		z-index: 10;
	}
	30% {
		background-size: 20rem 20rem;
	}
	50% {
		background-size: 50rem 50rem;
	}
	80% {
		background-size: 70rem 70rem;
	}
	100% {
		background-size: 100vw 100vw;
		z-index: -1;
	}
}

@keyframes wave {
	0% {
		z-index: 10;
		background-size: 0 0;
	}
	30% {
		background-size: 20rem 20rem;
	}
	50% {
		background-size: 50rem 50rem;
	}
	80% {
		background-size: 70rem 70rem;
	}
	100% {
		background-size: 100vw 100vw;
		z-index: 0;
	}
}

@-webkit-keyframes blur {
	0% {
		-webkit-filter: blur(0px);
	}
	100% {
		-webkit-filter: blur(2px);
	}
}

@keyframes blur {
	0% {
		filter: blur(0px);
	}
	100% {
		filter: blur(2px);
	}
}