@keyframes wave {
	0% {
		background-size: 0 0;
	}
	30% {
		background-size: 20rem 20rem;
	}
	50% {
		background-size: 50rem 50rem;
	}
	80% {
		background-size: 70rem 70rem;
	}
	100% {
		background-size: 100vw 100vw;
		background: -webkit-radial-gradient(rgba(255, 255, 255, 0) 100%);
		background: -o-radial-gradient(rgba(255, 255, 255, 0) 100%);
		background: -moz-radial-gradient(rgba(255, 255, 255, 0) 100%);
		background: radial-gradient(rgba(255, 255, 255, 0) 100%);
	}
}

.moveToLeft {
	-webkit-animation: moveToLeft .7s ease-in-out both;
	animation: moveToLeft .7s ease-in-out both;
}

.moveToRight {
	-webkit-animation: moveToRight .7s ease-in-out both;
	animation: moveToRight .7s ease-in-out both;
}

@-webkit-keyframes moveToLeft {
	from {}
	to {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes moveToLeft {
	from {}
	to {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

@-webkit-keyframes moveToRight {
	from {}
	to {
		-webkit-transform: translateX(100%);
	}
}

@keyframes moveToRight {
	from {}
	to {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
}

@keyframes wave {
	0% {
		background-size: 0 0;
	}
	30% {
		background-size: 20rem 20rem;
	}
	50% {
		background-size: 50rem 50rem;
	}
	80% {
		background-size: 70rem 70rem;
	}
	100% {
		background-size: 100vw 100vw;
		background: -webkit-radial-gradient(rgba(255, 255, 255, 0) 100%);
		background: -o-radial-gradient(rgba(255, 255, 255, 0) 100%);
		background: -moz-radial-gradient(rgba(255, 255, 255, 0) 100%);
		background: radial-gradient(rgba(255, 255, 255, 0) 100%);
	}
}

.moveToLeft {
	-webkit-animation: moveToLeft .7s ease-in-out both;
	animation: moveToLeft .7s ease-in-out both;
}

.moveToRight {
	-webkit-animation: moveToRight .7s ease-in-out both;
	animation: moveToRight .7s ease-in-out both;
}

@-webkit-keyframes moveToLeft {
	from {}
	to {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes moveToLeft {
	from {}
	to {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

@-webkit-keyframes moveToRight {
	from {}
	to {
		-webkit-transform: translateX(100%);
	}
}

@keyframes moveToRight {
	from {}
	to {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
}