.bblack {
	background-color:#000;/**/
}
.beige {
	background-color:#B39F8D;/**/
}
.black {
	background-color:#3C3535;/**/
}
.brown {
	background-color:#633F33;/**/
}
.gray {
	background-color:#848283;/**/
}
.lightgray {
	background-color:#B5BAB6;/**/
}
.purple {
    background-color: #4f3262;/**/
}
.quiet{
    background-color: #641254;/**/
}
.red {
	background-color:#C71F2D;/**/
}
.orange {
	background-color:#D39C43;/**/
}
.yellow {
	background-color:#F6E635;/**/
}
.white {
	background-color:#E7E9E7;/**/
}

.blue {
	background-color:#77b3d4;
}
.dark-blue,.darkblue {
	background-color:#4f5d73;
}
.lightblue {
	background-color:#d8eaf3;
}
.green {
	background-color:#76c2af;
}
.darkgreen, .dark-green {
	background-color:#5f6732;
}
.lightgreen {
	background-color:#d2e4ad;
}
.wwhite {
	background-color:#fff;/**/
}

.transparent {
	background-color:transparent;
}

/*textos*/
.text-bblack {
	color:#000 !important;/**/
}
.text-beige {
	color:#B39F8D !important;/**/
}
.text-black {
	color:#3C3535 !important;/**/
}
.text-brown {
	color:#633F33 !important;/**/
}
.text-gray {
	color:#848283 !important;/**/
}
.text-lightgray {
	color:#B5BAB6 !important;/**/
}
.text-purple {
    color: #4f3262 !important;/**/
}
.text-quiet{
    color: #641254 !important;/**/
}
.text-red {
	color:#C71F2D !important;/**/
}
.text-orange {
	color:#D39C43 !important;/**/
}
.text-yellow {
	color:#F6E635 !important;/**/
}
.text-white {
	color:#E7E9E7 !important;/**/
}

.text-blue {
	color:#77b3d4 !important;
}
.text-dark-blue,.text-darkblue {
	color:#4f5d73 !important;
}
.text-lightblue {
	color:#d8eaf3 !important;
}
.text-green {
	color:#76c2af !important;
}
.text-darkgreen, .text-dark-green {
	color:#5f6732 !important;
}
.text-lightgreen {
	color:#d2e4ad !important;
}
.text-wwhite {
	color:#fff !important;/**/
}

a:hover {
	color:#C71F2D;
}

.red a:hover {
    color: #76c2af;
}

/*color segun fondo*/

/*oscuros*/
.gray,.darkblue,.dark-blue,.green,.darkgreen, .dark-green,.black,.brown,.red,.blueblack,.bblack,.orange, .purple, .quiet, .beige {
	color:#E7E9E7;
}

.gray a,.darkblue a,.dark-blue a,.green a,.darkgreen a, .dark-green a,.black a,.bblack a, .brown a,.red a,.orange a, .purple a, .quiet a,.beige a {
    color:#d8eaf3 !important;
}

/*claros*/
.lightblue,.lightgreen,.lightyellow,.lightgray,.blue,.yellow,.white,.wwhite {
	color:#3C3535;
}

.white a,.lightblue a,.lightgreen a,.lightyellow a,.lightgray a,.blue a,.yellow a {
	color:#4f5d73;
}
a,.text-bblack {
	color:#000;
}

a:hover {
	color:#C71F2D;
}

/* social */
.facebook {background-color: #3B5998}
.twitter {background-color: #4099ff;}
.google {background-color: #dc4935;}
.meneame {background-color: #ff6400;}
.tuenti {background-color: #0079C1;}
.rss {background-color: #ee802f;}

