@media screen and (min-width:1024px) {
.columns-2 {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2
}

.columns-3 {
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3
}

.columns-4 {
	-moz-column-count:4;
	-webkit-column-count:4;
	column-count:4
}
}

@media screen and (max-width:1023px) {
.columns-2 {
	-moz-column-count:1;
	-webkit-column-count:1;
	column-count:1
}

.columns-3 {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2
}

.columns-4 {
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3
}
}

@media screen and (max-width:800px) {
.columns-2,.columns-3 {
	-moz-column-count:1;
	-webkit-column-count:1;
	column-count:1
}

.columns-4 {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2
}
}




html,body,section,article {
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
bottom:0;
right:0;
overflow:hidden;
zoom:1;
-webkit-text-size-adjust:100%;
background-color:#f2f2f2;
margin:auto;
}

section {
overflow:auto;
}

iframe {
width:100%;
height:100%;
overflow:hidden;
}

.hrt {
height:auto;
max-width:100%;
}

.vrt {
max-height:100%;
width:auto;
}

.img-100 {
max-height:100%;
max-width:100%;
}

.hrt,.vrt,.img-100 {
position:absolute;
top:0;
left:0;
z-index:-1;
}

figure.top {
background-position:top;
}

figure.right {
background-position:right;
}

figure.left {
background-position:left;
}

figure.bottom {
background-position:bottom;
}

.box {
position:absolute!important;
z-index:4;
}

h1.box,h2.box,h3.box,h4.box,h5.box,h6.box {
line-height:100%;
margin:0;
padding:0;
}

.cuadrado,.video {
position:relative;
width:100%;
}

.cuadrado::before,.video::before {
content:"";
display:block;
padding-top:100%;
}

.video::before {
padding-top:56.25%;
}

.cuadrado > *,.video > * {
position:absolute;
top:0;
left:0;
bottom:0;
right:0;
}

.relative {
float:left;
position:relative!important;
}

.fixed {
position:fixed!important;
}

.static {
position:static;
}

.center {
display:block;
height:100%;
width:auto;
margin-left:auto;
margin-right:auto;
}

.overflow-y,.scroll {
overflow-y:auto;
}

.frame,.frame-r {
position:absolute;
top:0;
left:0;
bottom:0;
right:0;
width:100%;
height:100%;
}

.float-left {
position:relative;
float:left!important;
margin:0 1em 1em 0;
}

.float-right {
position:relative;
float:right!important;
margin:0 0 1em 1em;
}

.float-left,.float-right {
width:33%;
}

.float-left img,.float-right img {
position:relative;
width:100%;
height:auto;
}

.top-0 {
top:0;
}

.top-1 {
top:4.166666667%;
}

.top-2 {
top:8.333333333%;
}

.top-3 {
top:12.5%;
}

.top-4 {
top:16.66666667%;
}

.top-5 {
top:20.83333333%;
}

.top-6 {
top:25%;
}

.top-7 {
top:29.16666667%;
}

.top-8 {
top:33.33333333%;
}

.top-9 {
top:37.5%;
}

.top-10 {
top:41.66666667%;
}

.top-11 {
top:45.83333333%;
}

.top-12 {
top:50%;
}

.top-13 {
top:54.16666667%;
}

.top-14 {
top:58.33333333%;
}

.top-15 {
top:62.5%;
}

.top-16 {
top:66.66666667%;
}

.top-17 {
top:70.83333333%;
}

.top-18 {
top:75%;
}

.top-19 {
top:79.16666667%;
}

.top-20 {
top:83.33333333%;
}

.top-21 {
top:87.5%;
}

.top-22 {
top:91.66666667%;
}

.top-23 {
top:95.83333333%;
}

.top-24 {
top:100%;
}

.bottom-0 {
bottom:0;
}

.bottom-1 {
bottom:4.166666667%;
}

.bottom-2 {
bottom:8.333333333%;
}

.bottom-3 {
bottom:12.5%;
}

.bottom-4 {
bottom:16.66666667%;
}

.bottom-5 {
bottom:20.83333333%;
}

.bottom-6 {
bottom:25%;
}

.bottom-7 {
bottom:29.16666667%;
}

.bottom-8 {
bottom:33.33333333%;
}

.bottom-9 {
bottom:37.5%;
}

.bottom-10 {
bottom:41.66666667%;
}

.bottom-11 {
bottom:45.83333333%;
}

.bottom-12 {
bottom:50%;
}

.bottom-13 {
bottom:54.16666667%;
}

.bottom-14 {
bottom:58.33333333%;
}

.bottom-15 {
bottom:62.5%;
}

.bottom-16 {
bottom:66.66666667%;
}

.bottom-17 {
bottom:70.83333333%;
}

.bottom-18 {
bottom:75%;
}

.bottom-19 {
bottom:79.16666667%;
}

.bottom-20 {
bottom:83.33333333%;
}

.bottom-21 {
bottom:87.5%;
}

.bottom-22 {
bottom:91.66666667%;
}

.bottom-23 {
bottom:95.83333333%;
}

.bottom-24 {
bottom:100%;
}

.left-0 {
left:0;
}

.left-1 {
left:4.166666667%;
}

.left-2 {
left:8.333333333%;
}

.left-3 {
left:12.5%;
}

.left-4 {
left:16.66666667%;
}

.left-5 {
left:20.83333333%;
}

.left-6 {
left:25%;
}

.left-7 {
left:29.16666667%;
}

.left-8 {
left:33.33333333%;
}

.left-9 {
left:37.5%;
}

.left-10 {
left:41.66666667%;
}

.left-11 {
left:45.83333333%;
}

.left-12 {
left:50%;
}

.left-13 {
left:54.16666667%;
}

.left-14 {
left:58.33333333%;
}

.left-15 {
left:62.5%;
}

.left-16 {
left:66.66666667%;
}

.left-17 {
left:70.83333333%;
}

.left-18 {
left:75%;
}

.left-19 {
left:79.16666667%;
}

.left-20 {
left:83.33333333%;
}

.left-21 {
left:87.5%;
}

.left-22 {
left:91.66666667%;
}

.left-23 {
left:95.83333333%;
}

.left-24 {
left:100%;
}

.right-0 {
right:0;
}

.right-1 {
right:4.166666667%;
}

.right-2 {
right:8.333333333%;
}

.right-3 {
right:12.5%;
}

.right-4 {
right:16.66666667%;
}

.right-5 {
right:20.83333333%;
}

.right-6 {
right:25%;
}

.right-7 {
right:29.16666667%;
}

.right-8 {
right:33.33333333%;
}

.right-9 {
right:37.5%;
}

.right-10 {
right:41.66666667%;
}

.right-11 {
right:45.83333333%;
}

.right-12 {
right:50%;
}

.right-13 {
right:54.16666667%;
}

.right-14 {
right:58.33333333%;
}

.right-15 {
right:62.5%;
}

.right-16 {
right:66.66666667%;
}

.right-17 {
right:70.83333333%;
}

.right-18 {
right:75%;
}

.right-19 {
right:79.16666667%;
}

.right-20 {
right:83.33333333%;
}

.right-21 {
right:87.5%;
}

.right-22 {
right:91.66666667%;
}

.right-23 {
right:95.83333333%;
}

.right-24 {
right:100%;
}

.width-0 {
width:0;
}

.width-1 {
width:4.166666667%;
}

.width-2 {
width:8.333333333%;
}

.width-3 {
width:12.5%;
}

.width-4 {
width:16.66666667%;
}

.width-5 {
width:20.83333333%;
}

.width-6 {
width:25%;
}

.width-7 {
width:29.16666667%;
}

.width-8 {
width:33.33333333%;
}

.width-9 {
width:37.5%;
}

.width-10 {
width:41.66666667%;
}

.width-11 {
width:45.83333333%;
}

.width-12 {
width:50%;
}

.width-13 {
width:54.16666667%;
}

.width-14 {
width:58.33333333%;
}

.width-15 {
width:62.5%;
}

.width-16 {
width:66.66666667%;
}

.width-17 {
width:70.83333333%;
}

.width-18 {
width:75%;
}

.width-19 {
width:79.16666667%;
}

.width-20 {
width:83.33333333%;
}

.width-21 {
width:87.5%;
}

.width-22 {
width:91.66666667%;
}

.width-23 {
width:95.83333333%;
}

.width-24 {
width:100%;
}

.height-0 {
height:0;
}

.height-1 {
height:4.166666667%;
}

.height-2 {
height:8.333333333%;
}

.height-3 {
height:12.5%;
}

.height-4 {
height:16.66666667%;
}

.height-5 {
height:20.83333333%;
}

.height-6 {
height:25%;
}

.height-7 {
height:29.16666667%;
}

.height-8 {
height:33.33333333%;
}

.height-9 {
height:37.5%;
}

.height-10 {
height:41.66666667%;
}

.height-11 {
height:45.83333333%;
}

.height-12 {
height:50%;
}

.height-13 {
height:54.16666667%;
}

.height-14 {
height:58.33333333%;
}

.height-15 {
height:62.5%;
}

.height-16 {
height:66.66666667%;
}

.height-17 {
height:70.83333333%;
}

.height-18 {
height:75%;
}

.height-19 {
height:79.16666667%;
}

.height-20 {
height:83.33333333%;
}

.height-21 {
height:87.5%;
}

.height-22 {
height:91.66666667%;
}

.height-23 {
height:95.83333333%;
}

.height-24 {
height:100%;
}

.max-height-0 {
max-height:0;
}

.max-height-1 {
max-height:4.166666667%;
}

.max-height-2 {
max-height:8.333333333%;
}

.max-height-3 {
max-height:12.5%;
}

.max-height-4 {
max-height:16.66666667%;
}

.max-height-5 {
max-height:20.83333333%;
}

.max-height-6 {
max-height:25%;
}

.max-height-7 {
max-height:29.16666667%;
}

.max-height-8 {
max-height:33.33333333%;
}

.max-height-9 {
max-height:37.5%;
}

.max-height-10 {
max-height:41.66666667%;
}

.max-height-11 {
max-height:45.83333333%;
}

.max-height-12 {
max-height:50%;
}

.max-height-13 {
max-height:54.16666667%;
}

.max-height-14 {
max-height:58.33333333%;
}

.max-height-15 {
max-height:62.5%;
}

.max-height-16 {
max-height:66.66666667%;
}

.max-height-17 {
max-height:70.83333333%;
}

.max-height-18 {
max-height:75%;
}

.max-height-19 {
max-height:79.16666667%;
}

.max-height-20 {
max-height:83.33333333%;
}

.max-height-21 {
max-height:87.5%;
}

.max-height-22 {
max-height:91.66666667%;
}

.max-height-23 {
max-height:95.83333333%;
}

.max-height-24 {
max-height:100%;
}

.max-width-0 {
max-width:0;
}

.max-width-1 {
max-width:4.166666667%;
}

.max-width-2 {
max-width:8.333333333%;
}

.max-width-3 {
max-width:12.5%;
}

.max-width-4 {
max-width:16.66666667%;
}

.max-width-5 {
max-width:20.83333333%;
}

.max-width-6 {
max-width:25%;
}

.max-width-7 {
max-width:29.16666667%;
}

.max-width-8 {
max-width:33.33333333%;
}

.max-width-9 {
max-width:37.5%;
}

.max-width-10 {
max-width:41.66666667%;
}

.max-width-11 {
max-width:45.83333333%;
}

.max-width-12 {
max-width:50%;
}

.max-width-13 {
max-width:54.16666667%;
}

.max-width-14 {
max-width:58.33333333%;
}

.max-width-15 {
max-width:62.5%;
}

.max-width-16 {
max-width:66.66666667%;
}

.max-width-17 {
max-width:70.83333333%;
}

.max-width-18 {
max-width:75%;
}

.max-width-19 {
max-width:79.16666667%;
}

.max-width-20 {
max-width:83.33333333%;
}

.max-width-21 {
max-width:87.5%;
}

.max-width-22 {
max-width:91.66666667%;
}

.max-width-23 {
max-width:95.83333333%;
}

.max-width-24 {
max-width:100%;
}

.height-2px {
height:2px;
}

.width-2px {
width:2px;
}

.height-4px {
height:4px;
}

.width-4px {
width:4px;
}

.height-1em {
height:1em;
}

.width-1em {
width:1em;
}

.height-2em {
height:2em;
}

.width-2em {
width:2em;
}

.height-4em {
height:4em;
}

.width-4em {
width:4em;
}

.height-8em {
height:8em;
}

.width-8em {
width:8em;
}

.height-16em {
height:16em;
}

.width-16em {
width:16em;
}

.top-phi1 {
top:61.803398875%;
}

.top-phi2 {
top:38.19660112502%;
}

.top-phi3 {
top:85.410196625%;
}

.top-phi4 {
top:14.589803375%;
}

.bottom-phi1 {
bottom:61.803398875%;
}

.bottom-phi2 {
bottom:38.19660112502%;
}

.bottom-phi3 {
bottom:85.410196625%;
}

.bottom-phi4 {
bottom:14.589803375%;
}

.left-phi1 {
left:61.803398875%;
}

.left-phi2 {
left:38.19660112502%;
}

.left-phi3 {
left:85.410196625%;
}

.left-phi4 {
left:14.589803375%;
}

.right-phi1 {
right:61.803398875%;
}

.right-phi2 {
right:38.19660112502%;
}

.right-phi3 {
right:85.410196625%;
}

.right-phi4 {
right:14.589803375%;
}

.width-phi1 {
width:61.803398875%;
}

.width-phi2 {
width:38.19660112502%;
}

.width-phi3 {
width:85.410196625%;
}

.width-phi4 {
width:14.589803375%;
}

.max-width-phi1 {
max-width:61.803398875%;
}

.max-width-phi2 {
max-width:38.19660112502%;
}

.max-width-phi3 {
max-width:85.410196625%;
}

.max-width-phi4 {
max-width:14.589803375%;
}

.height-phi1 {
height:61.803398875%;
}

.height-phi2 {
height:38.19660112502%;
}

.height-phi3 {
height:85.410196625%;
}

.height-phi4 {
height:14.589803375%;
}

.max-height-phi1 {
max-height:61.803398875%;
}

.max-height-phi2 {
max-height:38.19660112502%;
}

.max-height-phi3 {
max-height:85.410196625%;
}

.max-height-phi4 {
max-height:14.589803375%;
}

.top-1em {
top:1rem;
}

.bottom-1em {
bottom:1rem;
}

.left-1em {
left:1rem;
}

.right-1em {
right:1rem;
}

.top-2em {
top:2rem;
}

.bottom-2em {
bottom:2rem;
}

.top-4em {
top:4rem;
}

.bottom-4em {
bottom:4rem;
}

figure img {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
margin:auto;
}

.font-size-1200 {
font-size:12em;
line-height:100%;
}

.font-size-900 {
font-size:9em;
line-height:100%;
}

.font-size-600 {
font-size:6em;
line-height:100%;
}

.font-size-400 {
font-size:4em;
line-height:112.5%;
}

.font-size-300 {
font-size:3em;
line-height:100%;
}

.font-size-250 {
font-size:2.5em;
line-height:120%;
}

.font-size-200 {
font-size:2em;
line-height:150%;
}

.font-size-150 {
font-size:1.5em;
line-height:100%;
}

.font-size-140 {
font-size:1.4em;
line-height:107.14%;
}

.font-size-130 {
font-size:1.3em;
line-height:1.1538em;
}

.font-size-120 {
font-size:1.2em;
line-height:125%;
}

.font-size-75 {
font-size:.75em;
line-height:200%;
}

.font-size-50 {
font-size:.5em;
line-height:300%;
}

.font-size-50,.font-size-75,.font-size-120,.font-size-130,.font-size-140,.font-size-150,.font-size-200,.font-size-250,.font-size-300,.font-size-400,.font-size-600,.font-size-900,.font-size-1200 {
margin:0;
padding:0;
}

.v-center {
display:table-cell;
vertical-align:middle;
}

.table {
display:table;
}

.line-height-70 {
line-height:70%;
}

.line-height-80 {
line-height:80%;
}

.line-height-90 {
line-height:90%;
}

.line-height-100 {
line-height:100%;
}

.line-height-110 {
line-height:110%;
}

.line-height-120 {
line-height:120%;
}

.line-height-130 {
line-height:130%;
}

.line-height-140 {
line-height:140%;
}

.line-height-150 {
line-height:150%;
}

.line-height-200 {
line-height:200%;
}

.border {
border:2px solid gray;
}

.border-top {
border-top:2px solid gray;
}

.border-right {
border-right:2px solid gray;
}

.border-bottom {
border-bottom:2px solid gray;
}

.border-left {
border-left:2px solid gray;
}

.padding {
padding:1rem!important;
}

.padding-left {
padding-left:1rem!important;
}

.padding-right {
padding-right:1rem!important;
}

.padding-top {
padding-top:1rem!important;
}

.padding-bottom {
padding-bottom:1rem!important;
}

.padding-title {
padding:.66666666666666665rem;
}

.padding-double {
padding:2rem;
}

.padding-small {
margin:4px;
padding:4px;
}

.padding-05em,.padding-1em,.padding-2em,.padding-4em {
position:absolute!important;
width:auto!important;
height:auto!important;
}

.padding-05em {
top:.5em!important;
left:.5em!important;
bottom:.5em!important;
right:.5em!important;
}

.padding-1em {
top:1em!important;
left:1em!important;
bottom:1em!important;
right:1em!important;
}

.padding-2em {
top:2em!important;
left:2em!important;
bottom:2em!important;
right:2em!important;
}

.padding-4em {
top:4em!important;
left:4em!important;
bottom:4em!important;
right:4em!important;
}

.text-center {
text-align:center!important;
}

.text-right {
text-align:right!important;
}

.text-left {
text-align:left!important;
}

.text-justify {
text-align:justify!important;
}

body {
background:#fff url(../images/ajax-loader.gif) no-repeat 50% 50%;
}

section > header::after,article:first-child::after,aside:last-child::after {
font-size:2em!important;
position:absolute;
bottom:0;
left:50%;
width:auto;
height:2em;
text-align:center;
color:#fff;
text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
font-family:FontAwesome;
z-index:100;
filter:alpha(opacity=70);
-moz-opacity:.7;
opacity:.7;
-webkit-animation:bounce 2s infinite;
-moz-animation:bounce 2s infinite;
-ms-animation:bounce 2s infinite;
animation:bounce 2s infinite;
margin:0 0 -1em -.5em;
}

section > header:first-child::after,article:first-child::after {
content:"\f078";
}

aside:last-child::after {
top:.5em;
content:"\f077";
}

.sidebar a,.sidebar > div,#mainsidebar,#comentarios {
text-decoration:none;
line-height:1.5em;
min-width:2.5em;
margin:0;
padding:.25em;
}

.sidebar > div {
margin-bottom:2em;
width:100%;
z-index:3;
clear:none;
padding:.5em;
}

.sidebar li {
margin:.5em 0;
}

.sidebar a:hover {
background-color:#CC324B;
background-image:none;
color:#fff;
border-color:#11a8ab;
}

#mainsidebar,#comentarios {
position:relative;
width:100%;
height:100%;
top:0;
left:0;
overflow-y:auto;
}

.sidebar {
position:relative;
top:0 left:0;
width:30%;
float:left;
margin:0;
padding:1em;
}

.sidebar h2 {
font-family:Oswald,sans-serif;
text-transform:uppercase;
padding-right:8px;
border-bottom:2px dotted #888;
padding-bottom:8px;
}

.attachment-thumbnail {
float:left;
width:100%;
height:auto;
padding:0 1em 1em 0;
}

#fontsize {
position:absolute;
top:0;
left:0;
width:0;
height:0;
}

[class^=fa-]:before,[class*=" fa-"]:before {
font-family:FontAwesome;
font-style:normal;
font-weight:400;
speak:none;
display:inline-block;
text-decoration:inherit;
width:1em;
margin-right:.2em;
text-align:center;
font-variant:normal;
text-transform:none;
line-height:1em;
margin-left:.2em;
}

nav {
font-size:1.5vw!important;
position:absolute;
top:0;
left:0;
z-index:3;
width:100%;
background-color:transparent;
margin:0;
padding:.25em 0 0 4.33em;
}

nav:after {
position:absolute;
top:.25em;
left:0;
font-family:FontAwesome;
font-size:105%;
height:1.5em;
color:rgba(255,255,255,1.0);
content:"\f039";
text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
margin:0 0 0 .25em;
padding:.25em;
}

nav:hover {
background-color:rgba(255,255,255,.8);
border-bottom:1px solid #000;
box-shadow:-.5em .5em 2em rgba(0,0,0,0.8);
-moz-box-shadow:-.5em .5em 2em rgba(0,0,0,0.8);
-webkit-box-shadow:-.5em .5em 2em rgba(0,0,0,0.8);
}

nav:hover:after {
margin-bottom:.5em;
color:#e74c3c;
text-shadow:none;
}

nav div {
float:left;
}

nav ul {
position:relative;
float:left;
height:4em;
margin-top:-2.5em;
list-style:none;
text-align:right;
color:#FFF;
padding:0;
}

nav:hover ul,nav ul:hover {
height:2.25em;
border:1px solid rgba(0,0,0,0);
margin:0;
padding:0;
}

nav ul li {
display:inline-block;
float:left;
text-align:center;
background-color:transparent;
border:1px solid rgba(0,0,0,0);
color:#000;
margin:0 .125em 0 0;
}

nav ul li:hover,nav ul li:active {
background-color:#fff;
border:1px solid #000;
}

nav ul li > a,.current {
display:inline-block;
text-decoration:none;
min-width:2em;
width:auto;
color:#000;
padding:0 .25em;
}

nav .current {
position:relative;
color:#aaa;
background-color:#ccc;
border:.1em solid #000;
}

nav .current:after,nav .current:before {
top:100%;
left:50%;
border:.4em solid transparent;
content:" ";
height:0;
width:0;
position:absolute;
pointer-events:none;
}

nav .current:after {
margin-left:-.4em;
border-color:#ccc rgba(204,204,204,0) rgba(204,204,204,0);
border-width:.4em;
}

nav .current:before {
margin-left:-.5em;
border-color:#000 rgba(0,0,0,0) rgba(0,0,0,0);
border-width:.5em;
}

nav:hover + section {
-webkit-filter:brightness(0.5) saturate(0.5);
filter:brightness(0.5) saturate(0.5);
}

nav,nav ul,nav ul li,nav ul li a,nav ul li >*,.page-numbers {
font-family:oswald, sans-serif!important;
}

.next,.prev {
font-size:1.5em;
margin-top:-.5em;
}

.label ul {
position:relative;
list-style:none;
width:100%;
clear:both;
display:block;
margin:0;
padding:0;
}

.label ul li {
position:relative;
display:inline-block;
float:left;
color:#fff;
border:1px solid #000;
width:33.33%;
height:5rem;
font-size:1.5rem;
}

.label ul li:before {
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-color:rgba(0,0,0,.25);
}

.label ul li a {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
font-family:lato, sans-serif;
line-height:2em;
color:#ccc;
padding:1rem 0;
}

.label ul li:hover {
border:none;
}

.label ul li:after {
content:"";
position:absolute;
top:0;
left:0;
width:3em;
height:100%;
background-color:rgba(0,0,0,.25);
}

.label ul li:hover a:before {
font-size:125%;
}

.label ul li:hover:after {
background-color:rgba(0,0,0,.125);
}

.label [class^=fa-]:before,.label [class*=" fa-"]:before {
width:1em;
margin-right:2em;
padding-left:1em;
z-index:3;
}

.label ul li a:hover {
color:#fff;
margin-left:-.5em;
letter-spacing:.125em;
}

.input-container {
position:relative;
font-size:15px!important;
margin:0 auto;
}

input[type=text],input[type=submit],textarea {
width:100%;
height:50px;
margin-left:20px;
margin-bottom:20px;
padding-left:45px;
background:rgba(0,0,0,.125);
color:#fff;
border:solid 1px #1f253d;
}

input:focus,textarea:focus {
outline:none;
border:1px solid #11a8ab;
}

input[type=submit] {
min-width:50%;
text-align:center;
clear:both;
background-color:rgba(204,50,75,.25);
padding:0 1em;
}

input[type=submit]:hover {
background-color:rgba(204,50,75,1);
border:1px solid #11a8ab;
}

.input-icon {
font-size:22px;
position:absolute;
left:31px;
top:8px;
color:#9099b7;
z-index:3;
}

textarea {
height:10em;
}

.menu li {
display:inline-block;
position:relative;
}

.menu li ul li a {
color:#000;
display:block;
line-height:1;
text-decoration:none;
text-align:left;
padding:.5em;
}

.menu li:hover > a,.menu li a:hover,.menu li:focus > a,.menu li a:focus {
background-color:#fff;
color:#000;
}

.menu .sub-menu,.menu .children {
background-color:#fff;
border:1px solid #000;
border-top:0;
position:absolute;
left:-1px;
z-index:99999;
height:1px;
width:1px;
overflow:hidden;
clip:rect(1px,1px,1px,1px);
padding:0;
}

.menu .sub-menu ul,.menu .children ul {
border-left:none;
border-right:none;
left:100%;
top:0;
}

ul.menu ul li,.menu ul ul li {
color:#000;
min-width:6em;
margin:0;
}

ul.menu ul a:hover,.menu ul ul a:hover,ul.menu ul a:focus,.menu ul ul a:focus {
background-color:#db572f;
color:#fff;
}

ul.menu li:hover > ul,.menu ul li:hover > ul,ul.menu .focus > ul,.menu .focus > ul {
clip:inherit;
overflow:inherit;
height:inherit;
width:inherit;
}

.menu-toggle {
display:none;
}

section,.parent_parallax {
overflow-x:hidden;
perspective:1px;
transform-style:preserve-3d;
-webkit-perspective:1px;
-webkit-transform-style:preserve-3d;
-moz-perspective:1px;
-moz-transform-style:preserve-3d;
-ie-perspective:1px;
-ie-transform-style:preserve-3d;
-o-perspective:1px;
-o-transform-style:preserve-3d;
}

.parallax {
transform:translate3d(0,0,-2px) scale(3);
-webkit-transform:translate3d(0,0,-2px) scale(3);
-moz-transform:translate3d(0,0,-2px) scale(3);
-ie-transform:translate3d(0,0,-2px) scale(3);
-o-transform:translate3d(0,0,-2px) scale(3);
}

.section-moveToLeft {
-webkit-animation:moveToLeft .5s ease both;
-moz-animation:moveToLeft .5s ease both;
animation:moveToLeft .5s ease both;
}

.section-moveToRight {
-webkit-animation:moveToRight .6s ease both;
-moz-animation:moveToRight .6s ease both;
animation:moveToRight .6s ease both;
}

nav,nav ul,nav ul li,nav ul li>*,nav:after,section,.help + div,.label ul li:before,.label ul li:after,.label [class^=fa-]:before,.label [class*=" fa-"]:before,.label ul li a,input[type=submit],.sidebar a,ul.menu,.menu ul,ul.menu ul,.menu ul ul {
-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
-ms-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
}

section,article,.frame-r {
position:relative;
}

.hr-white,.hr-black {
background:0;
}

.hrt,.vrt,.frame,.box,.fixed,.no-overflow {
overflow:hidden;
}

.block,.br {
display:block;
}

.left-2em,.right-2em {
left:2rem;
}

.left-4em,.right-4em {
left:4rem;
}

nav ul li > :hover,.menu .current_page_item > a,.menu .current_page_ancestor > a,.menu .current-menu-item > a,.menu .current-menu-ancestor > a {
color:#e74c3c;
}

.label a:hover,.label ul li:hover:before {
background-color:transparent;
}

input[type=text]::-webkit-input-placeholder,input[type=text]:-moz-input-placeholder,input[type=text]::-moz-input-placeholder,input[type=text]:-ms-input-placeholder {
color:#fff;
}

/* dobles páginas */

/* Portrait */
@media screen and (orientation:portrait) {
    article.double {
        width: 100%;
        clear: both;
        font-size: 150% !important;
        border: 0px solid transparent !important;
        box-shadow: none !important;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    article.double {
        width: 50%;
        float: left;
    }
}

/*columnas */
.columns-2,.columns-3,.columns-4 {
	-moz-column-gap:2em;
	-webkit-column-gap:2em;
	column-gap:2em
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-.5em);
    -moz-transform: translateY(-.5em);
    -ms-transform: translateY(-.5em);
    transform: translateY(-.5em);
  }

  60% {
    -webkit-transform: translateY(-.25em);
    -moz-transform: translateY(-.25em);
    -ms-transform: translateY(-.25em);
    transform: translateY(-.25em);
  }
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-.5em);
    -moz-transform: translateY(-.5em);
    -ms-transform: translateY(-.5em);
    transform: translateY(-.5em);
  }

  60% {
    -webkit-transform: translateY(-.25em);
    -moz-transform: translateY(-.25em);
    -ms-transform: translateY(-.25em);
    transform: translateY(-.25em);
  }
}
@-ms-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-.5em);
    -moz-transform: translateY(-.5em);
    -ms-transform: translateY(-.5em);
    transform: translateY(-.5em);
  }

  60% {
    -webkit-transform: translateY(-.25em);
    -moz-transform: translateY(-.25em);
    -ms-transform: translateY(-.25em);
    transform: translateY(-.25em);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-.5em);
    -moz-transform: translateY(-.5em);
    -ms-transform: translateY(-.5em);
    transform: translateY(-.5em);
  }

  60% {
    -webkit-transform: translateY(-.25em);
    -moz-transform: translateY(-.25em);
    -ms-transform: translateY(-.25em);
    transform: translateY(-.25em);
  }
}



@-webkit-keyframes moveToLeft { 
    to {
        -webkit-transform: translateX(-100%)
    }
}
@-moz-keyframes moveToLeft { 
    to {
        -moz-transform: translateX(-100%)
    }
}
@keyframes moveToLeft { 
    to {
        transform: translateX(-100%)
    }
}
@-webkit-keyframes moveToRight { 
    to {
        -webkit-transform: translateX(100%)
    }
}
@-moz-keyframes moveToRight { 
    to {
        -moz-transform: translateX(100%)
    }
}
@keyframes moveToRight { 
    to {
        transform: translateX(100%)
    }
}
