/*TAMAÑOS DE TIPOGRAFIAS*/

.font-size-1200{
	font-size:12em; 
	line-height:100%; 
}
.font-size-900 {
	font-size:9em;
	line-height:100%;
}
.font-size-600{
	font-size:6em;
	line-height:100%;
}
.font-size-400 {
	font-size:4em;
	line-height:112.5%;
}
.font-size-300 {
	font-size:3em; 
	line-height:100%; 
}
.font-size-250 {
	font-size:2.5em;
	line-height:120%; 
}
.font-size-200 {
	font-size:2em; 
	line-height:150%; 
}
.font-size-150 {
	font-size:1.5em; 
	line-height:100%; 
}
.font-size-140 {
	font-size:1.4em; 
	line-height:107.14%;
}
.font-size-130 {
	font-size:1.3em; 
	line-height:1.1538em; 
}
.font-size-120 {
	font-size:1.2em; 
	line-height:125%; 
}

.font-size-75 {
	font-size:0.75em;
	line-height:200%;
}
.font-size-50 {
	font-size:0.5em; 
	line-height:300%;
} 

.font-size-50, .font-size-75, .font-size-120, .font-size-130, .font-size-140, .font-size-150, .font-size-200,.font-size-250, .font-size-300, .font-size-400, .font-size-600, .font-size-900, .font-size-1200 {margin:0; padding:0;} 

.capital:first-letter {
	float:left;
	font-size:4.4em;
	min-width:1em;
	line-height:100%;
	padding:.08em;
	margin-right:.1666em;
	text-align:center;
	border:1px dashed gray;
}

h1.box, h2.box, h3.box, h4.box, h5.box, h6.box {margin:0;padding:0;line-height:100%}

.text-center {
	text-align:center!important
}

.text-right {
	text-align:right!important
}

.text-left {
	text-align:left!important
}

.text-justify {
	text-align:justify!important
}

.text-strong {
	font-weight:blod
}

.small-caps {
	font-variant:small-caps
}

.upper {
	text-transform:uppercase
}

.text-spacing {
	letter-spacing:.1em
}

.invisible {
	display:none
}

.jscript {
	display:none
}

/*index*/
.z-index--100 {
	z-index:-100
}

.z-index--10 {
	z-index:-10
}

.z-index-0 {
	z-index:0
}

.z-index-10 {
	z-index:10
}

.z-index-100 {
	z-index:100
}

/*simula un br */
.br {
	display:block
}

/*para centrar algo*/
.v-center {
display:table-cell;
vertical-align:middle;
}

.table {
	display:table
}

/*alto de línea */
.line-height-70 {
	line-height:70%
}

.line-height-80 {
	line-height:80%
}

.line-height-90 {
	line-height:90%
}

.line-height-100 {
	line-height:100%
}

.line-height-110 {
	line-height:110%
}

.line-height-120 {
	line-height:120%
}

.line-height-130 {
	line-height:130%
}

.line-height-140 {
	line-height:140%
}

.line-height-150 {
	line-height:150%
}

.line-height-200 {
	line-height:200%
}

/*tipos de bordes */
.border {
	border:2px solid gray
}

.border-top {
	border-top:2px solid gray
}

.border-right {
	border-right:2px solid gray
}

.border-bottom {
	border-bottom:2px solid gray
}

.border-left {
	border-left:2px solid gray
}

.border-white {
	border:.5em solid white
}

.border-black {
	border:.5em solid #3c3535
}

/*tipos de padding */
.no-padding {
	margin:0;
	padding:0
}

.padding {
	padding:1rem !important
}

.padding-left {
	padding-left:1rem !important
}

.padding-right {
	padding-right:1rem !important
}

.padding-top {
	padding-top:1rem !important
}

.padding-bottom {
	padding-bottom:1rem !important
}

.padding-title {
	padding:.66666666666666665rem
}

.padding-double {
	padding:2rem
}

.padding-small {
	padding:4px;
	margin:4px
}

.padding-05em, .padding-1em, .padding-2em, .padding-4em {
	position:absolute !important;
    width: auto !important;
    height: auto !important;
}  

.padding-05em {
	top:.5em !important;
	left:.5em !important;
	bottom:.5em !important;
	right:.5em !important;
}

.padding-1em {
	top:1em !important;
	left:1em !important;
	bottom:1em !important;
	right:1em !important;
}

.padding-2em {
	top:2em !important;
	left:2em !important;
	bottom:2em !important;
	right:2em !important;
}

.padding-4em {
	top:4em !important;
	left:4em !important;
	bottom:4em !important;
	right:4em !important;
}

/*opacidad */
.opacity-90 {
	filter:alpha(opacity=90);
	-moz-opacity:.9;
	opacity:.9
}

.opacity-80 {
	filter:alpha(opacity=80);
	-moz-opacity:.8;
	opacity:.8
}

.opacity-70 {
	filter:alpha(opacity=70);
	-moz-opacity:.7;
	opacity:.7
}

.opacity-60 {
	filter:alpha(opacity=60);
	-moz-opacity:.6;
	opacity:.6
}

.opacity-50 {
	filter:alpha(opacity=50);
	-moz-opacity:.5;
	opacity:.5
}

.opacity-40 {
	filter:alpha(opacity=40);
	-moz-opacity:.4;
	opacity:.4
}

.opacity-0 {
	filter:alpha(opacity=0);
	-moz-opacity:0;
	opacity:0
}

/*efectos */
.grid:after, figure:after{
background-image: url('../images/grid.png');}

.noise:after,.vignette-sepia:after,.vignette:after{
	filter:alpha(opacity=40);-moz-opacity:.4;opacity:.4;
background-image: url('../images/ruido.png');}


figure {
	background:url('') no-repeat center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	overflow:hidden;
}

figure:after {
	filter:alpha(opacity=50);
	-moz-opacity:.5;
	opacity:.5
}
.nogrid:after {background: none !important}
.mm {
	background-image:url('../images/mm.png');
	background-repeat:repeat
}

.mar {
	background:url('../images/seashore.jpg') repeat-x 0 bottom
}
[class^="texture-"]:after,
[class*=" texture-"]:after,
[class^="preset-"]:after,
[class*=" preset-"]:after,
figure:after {
	content:" ";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-repeat:repeat;    
}
[class^="preset-"]:after,
[class*=" preset-"]:after {
    background:url('') no-repeat center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.texture-sepia:after {
	background-image:url('../images/sepia.png');
}

.texture-leather:after {
	background-image:url('../images/leather.png');
}

.texture-paper1:after {
	background-image:url('../images/paper_texture1.png');
}

.texture-paper2:after {
	background-image:url('../images/paper_texture2.png');
}

.texture-paper3:after {
	background-image:url('../images/paper_texture3.jpg');
}

.texture-paper4:after {
	background-image:url('../images/paper_texture4.png');
}

.texture-damask:after {
	background-image:url('../images/damask.png');
}

.texture-mobile:after {
	background-image:url('../images/mobile.jpg');
}

.texture-wood:after {
	background-image:url('../images/wood.png');
}

.texture-encalado:after {
	background-image:url('../images/encalado.png');
}
.preset-1:after {
	background-image:url('../images/preset1.svg');
}
.preset-2:after {
	background-image:url('../images/preset2.svg');
}
.preset-3:after {
	background-image:url('../images/preset3.svg');
}
.preset-4:after {
	background-image:url('../images/preset4.svg');
}
.preset-5:after {
	background-image:url('../images/preset5.svg');
}
.preset-6:after {
	background-image:url('../images/preset6.svg');
}
.preset-7:after {
	background-image:url('../images/preset7.svg');
}