.turquoise,.green-sea,.emerland,.nephritis,.peter-river,.belize-hole,.amethyst,.wisteria,.wet-asphalt,.midnight-blue,.sun-flower,.orange,.carrot,.pumpkin,.alizarin,.pomegranate,.silver,.asbestos{color:#ecf0f1}
.turquoise a,.green-sea a,.emerland a,.nephritis a,.peter-river a,.belize-hole a,.amethyst a,.wisteria a,.wet-asphalt a,.midnight-blue a,.sun-flower a,.orange a,.carrot a,.pumpkin a,.alizarin a,.pomegranate a,.silver a,.asbestos a{color:#95a5a6}
.turquoise a:visited,.green-sea a:visited,.emerland a:visited,.nephritis a:visited,.peter-river a:visited,.belize-hole a:visited,.amethyst a:visited,.wisteria a:visited,.wet-asphalt a:visited,.midnight-blue a:visited,.sun-flower a:visited,.orange a:visited,.carrot a:visited,.pumpkin a:visited,.alizarin a:visited,.pomegranate a:visited,.silver a:visited,.concrete a:visited,.asbestos a:visited{color:#7f8c8d}
.turquoise a:hover,.green-sea a:hover,.emerland a:hover,.nephritis a:hover,.peter-river a:hover,.belize-hole a:hover,.amethyst a:hover,.wisteria a:hover,.wet-asphalt a:hover,.midnight-blue a:hover,.sun-flower a:hover,.orange a:hover,.carrot a:hover,.pumpkin a:hover,.alizarin a:hover,.pomegranate a:hover,.silver a:hover,.concrete a:hover,.asbestos a:hover{color:#c0392b;filter:alpha(opacity=80);-moz-opacity:.8;opacity:.8}
.turquoise a:active,.green-sea a:active,.emerland a:active,.nephritis a:active,.peter-river a:active,.belize-hole a:active,.amethyst a:active,.wisteria a:active,.wet-asphalt a:active,.midnight-blue a:active,.sun-flower a:active,.orange a:active,.carrot a:active,.pumpkin a:active,.alizarin a:active,.pomegranate a:active,.silver a:active,.concrete a:active,.asbestos a:active{color:#c0392b;filter:alpha(opacity=80);-moz-opacity:.8;opacity:.8}

.turquoise{background:#1abc9c}
.green-sea{background:#16a085}
.emerland{background:#2ecc71}
.nephritis{background:#27ae60}
.peter-river{background:#3498db}
.belize-hole{background:#2980b9}
.amethyst{background:#9b59b6}
.wisteria{background:#8e44ad}
.wet-asphalt{background:#34495e}
.midnight-blue{background:#2c3e50}
.sun-flower{background:#f1c40f}
.orange{background:#f39c12}
.carrot{background:#e67e22}
.pumpkin{background:#d35400}
.alizarin{background:#e74c3c}
.pomegranate{background:#c0392b}
.pomegranate a:hover,.pomegranate a:active{color:#8e44ad}
.clouds{background:#ecf0f1;color:#bdc3c7}
.clouds a{color:#95a5a6}
.clouds a:hover,.clouds a:active{color:#7f8c8d}
.clouds a:visited{color:#c0392b}
.silver{background:#bdc3c7}
.concrete{background:#95a5a6}
.concrete a{color:#7f8c8d}
.asbestos{background:#7f8c8d}
.text-turquoise{color:#1abc9c}
.text-green-sea{color:#16a085}
.text-emerland{color:#2ecc71}
.text-nephritis{color:#27ae60}
.text-peter-river{color:#3498db}
.text-belize-hole{color:#2980b9}
.text-amethyst{color:#9b59b6}
.text-wisteria{color:#8e44ad}
.text-wet-asphalt{color:#34495e}
.text-midnight-blue{color:#2c3e50}
.text-sun-flower{color:#f1c40f}
.text-orange{color:#f39c12}
.text-carrot{color:#e67e22}
.text-pumpkin{color:#d35400}
.text-alizarin{color:#e74c3c}
.text-pomegranate{color:#c0392b}
.text-clouds{color:#ecf0f1}
.text-silver{color:#bdc3c7}
.text-concrete{color:#95a5a6}
.text-asbestos{color:#7f8c8d}

.turquoise:hover {background:#16a085}
.green-sea:hover {background:#1abc9c}
.emerland:hover {background:#27ae60}
.nephritis:hover {background:#2ecc71}
.peter-river:hover {background:#2980b9}
.belize-hole:hover {background:#3498db}
.amethyst:hover {background:#8e44ad}
.wisteria:hover {background:#9b59b6}
.wet-asphalt:hover {background:#2c3e50}
.midnight-blue:hover {background:#34495e}
.sun-flower:hover {background:#f39c12}
.orange:hover {background:#f1c40f}
.carrot:hover {background:#d35400}
.pumpkin:hover {background:#e67e22}
.alizarin:hover {background:#c0392b}
.pomegranate:hover {background:#e74c3c}
.clouds:hover {background:#bdc3c7}
.silver:hover {background:#ecf0f1;color:#bdc3c7}
.concrete:hover {background:#7f8c8d}
.asbestos:hover {background:#95a5a6}