img {
    border: 0;
    ms-interpolation-mode: bicubic;
    max-width: none;
}

svg:not(:root) {
    overflow: hidden;
}

.hrt,
.vrt,
.img-100 {
    position: absolute;
}

figure {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

figcaption {
    z-index: 10;
}

.hrt {
    width: 100%;
    height: auto;
}

.vrt {
    height: 100%;
    width: auto;
}

.cien,
.img-100 {
    width: 100%;
    height: 100%;
}

img.center {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

figure img {
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure img.full {
    position: absolute;
    object-fit: cover;
    object-position: center center;
}

.full.left {
    right: -25%;
    width: 125%;
    object-position: left;
}

.full.top {
    bottom: -25%;
    height: 125%;
    object-position: top;
}

.full.right {
    left: -25%;
    width: 125%;
    object-position: right;
}

.full.bottom {
    top: -25%;
    height: 125%;
    object-position: bottom;
}
/* */

figure:focus {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(51, 51, 51,.8);
    background-size: contain;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
    z-index: 10000;
    outline: 0;
    overflow-y: auto;
    border: none;
}

figure:focus div {
    display: none;
    visibility: hidden
}

figure:focus img {
    position: relative;
    float: left;
    text-align: center;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    padding: 5% 2.5% 0 2.5%;
    margin: auto;
    width: 95% !important;
    height: 95% !important;
    object-fit: contain;
    object-position: center center !important;
}