.keynote {
	z-index:1
}
.slide {
	-webkit-transition:all .8s ease-in-out;
	-moz-transition:all .8s ease-in-out;
	-o-transition:all .8s ease-in-out;
	-ms-transition:all .8s ease-in-out;
	transition:all .8s ease-in-out;
}
.to-up {
	margin-top:-100%
}
.to-down {
	margin-top:100%
}
.to-left {
	margin-left:-100%
}
.to-right {
	margin-left:100%
}
.fade {
	filter:alpha(opacity=0);
	-moz-opacity:0;
	opacity:0;
}
.zoom {
	-moz-transform:scale();
	-webkit-transform:scale();
	-o-transform:scale();
	transform:scale();
	-ms-transform:scale();
	filter:progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',M11=0, M12=0, M21=0, M22=0);
}
.keynote:hover +.slide, .keynote:focus + .slide, .keynote:active+.slide, .slide:hover {
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
	visibility:visible;
	margin-top:0;
	margin-left:0;
	z-index:10;
	zoom:1;
	-moz-transform:scale(1);
	-webkit-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
	-ms-transform:scale(1);
	filter:progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',M11=1, M12=1, M21=1, M22=1);
	-moz-transform:translate();
	-webkit-transform:translate();
	-o-transform:translate();
	transform:translate();
	-ms-transform:translate();
}
.keynote:hover+section, .keynote:focus+section, .keynote:active+section {
	z-index:100
}
.slide a:hover {
	-webkit-filter:invert(100%);
	filter:invert(100%);
	filter:DXImageTransform.Microsoft.Invert(enabled);
	text-shadow:none !important;
}