/* tipografias */

@font-face {
  font-family: "Roboto Slab";
  src: url(../font/roboto/RobotoSlab-Regular-webfont.ttf);
  font-weight: 400; }

@font-face {
  font-family: "Roboto Condensed";
  src: url(../font/roboto/robotocondensed-regular-webfont.ttf);
  font-weight: 400; }

h1,h2,h3,h4,h5,h6,.listad,.serif {
	font-family: "Roboto Slab",Georgia,serif;
}
.monospace, .capital:first-letter {
	font-family: "American Typewriter",'Courier New',Courier,monospace !important;
	text-align: left;
}

.ultrafina {
	font-family: roboto, sans-serif !important;
	font-weight: 100  !important;
	letter-spacing: .05em;
}

.condensed {
	font-family: "Roboto Condensed",sans-serif !important;
	text-transform: uppercase;
}

.sans {
	font-family: "Roboto",sans-serif !important;
}

/* configuracion general */

*,*:before,*:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html>body {
	font-size: 14px;
}

a:active,a:hover {
	outline: 0;
}

a:focus {
	outline: thin dotted;
}

.text,p {
	z-index: 3;
	word-wrap: break-word;
	word-break: normal;
	-webkit-hyphens: auto;
	-webkit-hyphenate-character: \2010;
	-webkit-hyphenate-limit-after: 1;
	-webkit-hyphenate-limit-before: 3;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	orphans: 2;
	widows: 2;
}

/* Definición de los títulos */
h1,h2,h3,h4,h5,.h1-like,.h2-like,.h3-like,.h4-like,.h5-like {
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	line-height: 1.5em;
	margin: 0;
	background: #ccc;
}

a {
	background: none;
	text-decoration: none;
}
br {
    clear: none;
    display: none;
}

h1,.h1-like {
	font-size: 2em;
	margin-bottom: 1.5em;
	line-height: 1.5;
}

h2,.h2-like {
	font-size: 1.5em;
	line-height: 1em;
	margin: 0 0 1em;
}

h3,.h3-like {
	font-size: 1.375em;
	line-height: 1.09090909091em;
	margin: 0 0 1.09090909091em;
}

h4,.h4-like {
	font-size: 1.25em;
	line-height: 1.2em;
	font-weight: 700;
	margin: 0 0 1.2em;
}

h5,.h5-like {
	font-size: 1.25em;
	line-height: 1.2em;
	font-weight: 400;
	font-variant: small-caps;
	margin: 1.2em 0 0;
}

p {
	text-align: inherit;
	margin: 0;
	padding: 0;
}
/* intruduce un indentado entre párrafos */

*+p,.noindent {
	text-indent: 0;
}
p+p {
	text-indent: 2em;
}

p+h2,p+div {
	margin-top: 1em;
}

p+h3 {
	margin-top: 1.09090909091em;
}

p+h4 {
	margin-top: 1.2em;
}

blockquote {
	margin: 1.5em 0;
	padding: 0 1.5em;
}

small,cite,.small {
	font-size: .75em;
	line-height: 1.25em;
}

object,embed {
	clear: both;
	height: auto;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}
/* las imágenes se convertirán en background en modo cover centrado */

#fontsize {
	display: none;
	visibility: hidden;
}

.ul-none {
	list-style-type: none;
}

.ul-disc {
	list-style-type: disc;
}

.ul-circle {
	list-style-type: circle;
}

.ul-square {
	list-style-type: square;
}

.ol-roman {
	list-style-type: upper-roman;
}

.ol-decimal {
	list-style-type: decimal;
}

.ol-lower {
	list-style-type: lower-alpha;
}

.ol-upper {
	list-style-type: upper-alpha;
}

li p,li ul {
	margin-bottom: 0;
	margin-top: 0;
}

.capital:first-letter {
	position: relative;
	display: block;
	float: left;
	font-size: 2.2em;
	width: 1.5em;
	height: 1.5em;
	padding: 0 .5em;
	text-align: center;
	line-height: 1.5em;
	border-radius: .125em;
	background-image: url(../images/grid.png);
	background-repeat: repeat;
	text-align: center;
	border: 2px solid #fff;
	margin: .125em .25em .25em 0;
}

.nodesktop,.no-desktop {
	display: none;
	visibility: hidden;
	width: 0;
	height: 0;
}

.text-strong {
	font-weight: blod;
}

.small-caps {
	font-variant: small-caps;
}

.upper {
	text-transform: uppercase;
}

.text-spacing {
	letter-spacing: .1em;
}

.z-index--100 {
	z-index: -100 !important;
}

.z-index--10 {
	z-index: -10 !important;
}

.z-index-0 {
	z-index: 0 !important;
}

.z-index-10 {
	z-index: 10 !important;
}

.z-index-100 {
	z-index: 100 !important;
}

.br,.clear {
	display: block;
}

.no-padding {
	margin: 0;
	padding: 0;
}

iframe {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

h1.box,h2.box,h3.box,h4.box,h5.box,h6.box {
	line-height: 125% !important;
	margin: 0;
	padding: 0;
}

.cookies {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 1rem;
	font-size: 11px;
	line-height: 1rem;
	z-index: 101;
	padding: 0 4rem;
    text-align: right;
}


/* inicio * /

article {
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
/* */