/*FORMATO DE LA WEB*/
*, *:before, *:after {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

p, ul, ol, dl, blockquote, pre, td, th, label, textarea, caption {
    font-size: 1em; /* equiv 12px */
    line-height: 1.5em;
}
li p, li ul{
    margin-top: 0;
    margin-bottom: 0;
}
/* you shall not pass */
.text {
    z-index:100;
    word-wrap:break-word;
    word-break:normal;
    -webkit-hyphens:auto;
    -webkit-hyphenate-character:"\2010";
    -webkit-hyphenate-limit-after:1;
    -webkit-hyphenate-limit-before:3;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility;
}

h1, .h1-like {
	font-size:2em;
	margin-bottom:1.5em;
	line-height:1.5;
}

h2, .h2-like {
	margin:0;
	font-size:1.5em;
	line-height:1em;
	margin-bottom:1em;
}
p+h2 {
    margin-top:1em
}
h3, .h3-like {
	margin:0;
	font-size:1.375em;
	line-height:1.0909090909090908em;
	margin-bottom:1.0909090909090908em;
}
p+h3 {
	margin-top:1.0909090909090908em;
}
h4, .h4-like {
	margin:0;
	font-size:1.25em;
	line-height:1.2em;
	margin-bottom:1.2em;
	font-weight:bold;
}
p+h4{
    margin-top:1.2em;
}
h5, .h5-like {
	margin:0;
	font-size:1.25em;
	line-height:1.2em;
	margin-top:1.2em;
	font-weight:normal;
	font-variant:small-caps;
}
ul, ol {
	margin:0 0 .25em 1.5em;
}

pre, code, tt, samp {
    white-space: pre-wrap;
	font:1em 'andale mono','lucida console',monospace;
	line-height:1.5;
}

pre {
	background-color:#efefef;
	border:1px solid #aaa;
	display:block;
	margin:.25em 0;
	padding:.25em;
}

abbr {
	border-bottom:1px dotted #666;
	cursor:help;
	white-space:nowrap;
}

blockquote {
	margin:1.5em 0;
	padding:0 1.5em;
}

blockquote p {
	font-style:italic;
}

strong {
	font-weight:bold;
}

em {
	font-style:italic;
}

acronym {
	cursor:help;
	font-size:1em;
	font-variant:small-caps;
	text-decoration:none;
}

p {
    padding:0;
    margin:0;
	text-align:inherit;
}

p+p{
    text-indent:2em
}

p+div {
	margin-top:1em;
}

small, cite, .small {
	font-size:.75em;
	line-height:1.25em;
}

cite {
	font-style:italic;
}

object, embed {
	clear:both;
	height:auto;
	left:0;
	margin:0;
	padding:0;
	width:100%;
}

sup {
	vertical-align:super;
	font-size:50%;
}

sub {
	vertical-align:sub;
	font-size:50%;
}

figcaption {
	z-index:1000;
}

ieldset {
	padding:.6em;
	border:1px solid #ccc;
	margin-bottom:1.5em;
}

label {
	display:block;
	cursor:pointer;
}

input, textarea {
	font-family:inherit;
	font-size:1em;
	line-height:1.5;
}

[placeholder] {
	cursor:pointer;
}

[placeholder]:active, [placeholder]:focus {
	cursor:text;
}

fieldset>:last-child {
	margin:0;
}

/*DEFINICION DE LISTAS*/
.ul-none {
	list-style-type:none;
}

.ul-disc {
	list-style-type:disc;
}

.ul-circle {
	list-style-type:circle;
}

.ul-square {
	list-style-type:square;
}

.ol-roman {
	list-style-type:upper-roman;
}

.ol-decimal {
	list-style-type:decimal;
}

.ol-lower {
	list-style-type:lower-alpha;
}

.ol-upper {
	list-style-type:upper-alpha;
}

/*FORMATO DE LAS TABLAS*/
table {
	width:99%;
}

tr.even td, tr.odd td {
	padding:.125em .25em;
}

tr.odd {
	background-color:#fff;
}

table {
	margin-bottom:1.5em;
	width:100%;
	max-width:100%;
}

thead tr:last-of-type th {
	border-bottom-width:2px;
}

tbody th {
	border-right-width:2px;
}

th:empty {
	border:0;
}

th, td {
	vertical-align:top;
	padding:.125em;
	border:1px solid #ccc;
}

th {
	font-weight:bold;
	text-align:center;
}

table [colspan] {
	text-align:center;
}

table [rowspan] {
	vertical-align:middle;
}

[colspan="1"] {
	text-align:left;
}

[rowspan="1"] {
	vertical-align:top;
}

tbody tr:nth-of-type(odd) {
	background:rgba(0,0,0,0.05);
}

tfoot {
	text-align:center;
}

tfoot td {
	border-top-width:2px;
}

/*HACK PARA QUE IE PINTE BIEN LAS IMAGENES*/
img {
	ms-interpolation-mode:bicubic;
}

/*AJUSTE HORIZONTAL Y VERTICAL DE LAS IMAGENES*/

.hrt {
    width:100%;
    height:auto;
}

.vrt {
    height:100%;
    width:auto;
}


a {text-decoration:none}

#fontsize{
    display:none; 
    visibility:hidden
}
