nav {
	z-index: 0;
}

nav #searchform {
	font-size: 15px;
}

nav #searchform .input-icon {
	position: relative;
	left: 0;
	top: -52px;
	text-align: left;
	width: 1em;
}

.menuopenclose {
	position: fixed;
	top: .5em;
	left: .5em;
	display: block;
	font-size: .5rem;
	border-radius: .5em;
	padding: 2.5em 1em;
	cursor: pointer;
	z-index: 1000;
}

.menuopenclose:before {
	position: fixed;
	content: "";
	top: 0;
	left: 0;
	width: 7.5em;
	height: 7em;
}

.menuicon, .menuicon:before, .menuicon:after {
	display: block;
	width: 5em;
	height: .5em;
	left: 0;
	background: #fff;
	content: '';
	-webkit-animation-duration: 300ms;
	animation-duration: 300ms;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.menuicon {
	position: relative;
}

.menuicon:before, .menuicon:after {
	position: absolute;
}

.menuicon:before {
	bottom: 200%;
}

.menuicon:after {
	top: 200%;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 20rem;
	height: 100%;
	padding-right: 18px;
	margin-right: 18px;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 1.5rem;
	line-height: 1em;
	font-family: "Roboto Condensed",sans-serif;
	text-align: center;
	font-variant: small-caps;
	letter-spacing: .125rem;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	-ms-transform: rotateY(-90deg);
	-o-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
}

nav ul {
	list-style-type: none;
	margin: 0 !important;
	padding: 0 !important;
	width: 18rem;
}

nav li {
	margin: 0;
	padding: 0;
}

nav a, nav span {
	display: block;
	width: 16rem;
	padding: .25rem;
	margin: .25rem .25rem .25rem 1rem;
	border: 1px solid rgba(255,255,255,0);
}

nav .social {
	position: relative;
	float: left;
	clear: both;
	top: 0;
	left: 0;
	margin: 0;
	text-align: center;
	width: 18rem;
}

.social li {
	position: relative;
	display: inline-block;
}

.social a {
	padding: .25em;
}

.social a:before {
	padding-right: 1em;
}

nav a {
	text-decoration: none;
}

nav ul li .dots:before {
	content: "";
}

nav ul li .current:after {
	font-family: "FontAwesome";
	content: " \F0DA";
}

article:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background-color: rgba(0,0,0,.75);
	background-image: url(../images/noise.png);
	background-repeat: repeat;
	z-index: 10000;
}

.menuopenclose:hover ~ article:after, nav:hover ~ article:after {
	width: 100%;
	height: 100%;
}

.navegator {
	position: fixed;
    top: calc(50% - 1em);
    height: 3em;
	font-family: 'FontAwesome';
	font-size: 2em;
	text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
	z-index: 10;
}

.navegator .page-numbers {
	display: none;
	visibility: hidden;
}

.navegator a.prev, .navegator a.next {
	position: fixed;
	color: #fff;
	float: left;
	z-index: 11;
    line-height: 150%;
	visibility: visible;
	display: block;
	filter: alpha(opacity=70);
	-moz-opacity: .7;
	opacity: .7;
}

.navegator .a:hover {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

.navegator a.next {
	right: 0;
	float: right;
}

.navegator a.prev:before {
	content: '\f053';
}

.navegator a.next:after {
	content: '\f054';
}