nav {
	background-color: transparent;
}

#navigation {
	position: fixed;
	bottom: 18px;
	left: 0;
	width: 100%;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-align: center;
	background: none;
	z-index: 102;
	overflow: visible !important;
	box-shadow: none !important;
}

#navigation a,
#navigation span {
	display: inline-block;
	text-align: center;
	margin: auto;
}

#navigation a,
#navigation .current {
	text-shadow: none;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 2.5em;
	-webkit-font-smoothing: antialiased;
	clear: both;
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	width: 2.75em;
	height: 2.75em;
    color: #fff;
}

#navigation a:focus {
	outline: none
}

#navigation .page-numbers {
	background-color: rgba(255, 255, 255, .5);
	border-radius: 50%;
	border: 4px solid #fff;
}

#navigation .current {
	background-color: rgba(199, 31, 45, .5);
}

#navigation .dots {
	background-color: transparent;
	border: none;
}
/* arrows */

#navigation a.prev,
#navigation a.next {
	position: fixed;
	font-size: 3rem;
	bottom: calc(50% - 5rem);
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	background-color: transparent !important;
	color: #ccc;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#navigation a.prev span,
#navigation a.next span {
	font-size: 8rem;
	line-height: 8rem;
}

#navigation a.prev {
	left: -2rem;
}

#navigation a.next {
	float: right;
	right: -2rem;
}

#navigation a.prev:hover,
#navigation a.next:hover {
	box-shadow: none;
	color: #fff;
	text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000;
}

#navigation a.prev:hover {
	left: -1.1em;
}

#navigation a.next:hover {
	right: -1.1em;
}
/* menus * /

.nav-wrapper {
	position: fixed;
	top: 0;
	height: 2.2rem;
	line-height: 2.2rem !important;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: .1rem;
	background-color: #263238;
	z-index: 1000;
}

.button-collapse {
	display: none;
	visibility: hidden;
}
/* aside */

.menuopenclose {
	position: fixed;
	top: 0;
	font-size: 2rem;
	line-height: 2rem;
	z-index: 1002;
	border: none;
	padding: 0;
	background-color: transparent;
	color: #444;
    text-shadow:  1px 1px 2px #e7e9e7;
}

#m-left {
	left: 0;
}

#m-right {
	right: 0;
}

aside {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 40%;
	padding: 1rem;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 1.1rem;
	line-height: 100%;
	z-index: 1000;
	background-color: #fff;
}

aside div {
	padding-bottom: 1.5em;
}

aside h2 {
	font-size: 100%;
	line-height: 1em;
	padding: 0 0 .5em 0;
	margin: 0;
}

aside li {
	display: block;
	clear: both;
	padding: 1em .25em;
}

aside span {
	margin: .5em 0;
}

#a-left {
	left: 0;
	margin-left: -100%;
}

#a-right {
	right: 0;
	margin-right: -100%;
}

#a-left > * {
	margin-left: -100%;
	margin-right: 100%;
	opacity: 0;
	-webkit-opacity: 0;
}

#a-right > * {
	margin-left: 100%;
	margin-right: -100%;
	opacity: 0;
	-webkit-opacity: 0;
}

#overlayer {
	z-index: -1;
	opacity: 0;
	-webkit-opacity: 0;
	-webkit-transition: opacity .6s ease;
	-moz-transition: opacity .6s ease;
	-o-transition: opacity .6s ease;
	-ms-transition: opacity .6s ease;
	transition: opacity .6s ease;
}

#m-left:hover ~ #a-left,
#m-left:focus ~ #a-left,
#a-left:hover {
	margin-left: 0;
	box-shadow: .5rem 0 1rem rgba(0, 0, 0, .5);
}

#m-left:hover ~ #overlayer,
#m-left:focus ~ #overlayer,
#a-left:hover ~ #overlayer,
#m-right:hover ~ #overlayer,
#m-right:focus ~ #overlayer,
#a-right:hover ~ #overlayer {
	opacity: .75;
	z-index: 100;
}

#m-right:hover ~ #a-right,
#m-right:focus ~ #a-right,
#a-right:hover {
	margin-right: 0;
	box-shadow: -.5rem 0 1rem rgba(0, 0, 0, .5);
}

#m-left:hover ~ #a-left > *,
#a-left:hover > *,
#m-right:hover ~ #a-right > *,
#a-right:hover > *,
#m-left:focus ~ #a-left > *,
#m-right:focus ~ #a-right > * {
	margin-left: 0;
	margin-right: 0;
	opacity: 1;
	-webkit-opacity: 1;
	transition-delay: .3s;
	-webkit-transition-delay: .3s;
}
/* transitions */

#m-left:hover ~ #a-left,
#a-left:hover {
	transition-delay: .3s;
	-webkit-transition-delay: .3s;
}

#m-right:hover ~ #a-right,
#a-right:hover {
	transition-delay: .3s;
	-webkit-transition-delay: .3s;
}

#m-left:hover ~ #a-left > *,
#a-left:hover > *,
#m-right:hover ~ #a-right > *,
#a-right:hover > * {
	transition-delay: .4s;
	-webkit-transition-delay: .4s;
}

aside a:hover:before,
aside a:focus:before {
	width: 100%;
}

menu {
	position: fixed;
	top: 0;
	left: 0;
	font-size: 1.25rem;
	line-height: 2.5rem;
	width: 100%;
	z-index: 1000;
  	font-family: "Roboto Condensed", sans-serif !important;
	text-transform: uppercase;
}

menu ul {
	list-style-type: none;
	margin: 0;
}

#header-menu {
	padding: 0 3rem 0 0;
	right: 0;
	float: right;
}
/*Create a horizontal list with spacing*/

menu li {
	display: inline-block;
	float: left;
}

/*Style for menu links*/

menu a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #3c3535;
	padding: 0 1rem;
    text-shadow:  1px 1px 2px #e7e9e7;
}
/*Hover state for top level links*/

menu li:hover {
/*	background-color: #fff;*/
}

menu li:hover a {
	color: #000;
}

menu ul li a {
	position: relative;
}
menu ul li a::before, .menuopenclose::before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml,<svg viewBox='0 0 120 120' version='1.1' xmlns='http://www.w3.org/2000/svg'><circle cx='60' cy='60' r='60' fill='#ffffff' fill-opacity='.75'/></svg>");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 0 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	z-index: -1;
	-webkit-transition: all 1.5s cubic-bezier(.25, .46, .45, .94);
	-moz-transition: all 1.5s cubic-bezier(.25, .46, .45, .94);
	-o-transition: all 1.5s cubic-bezier(.25, .46, .45, .94);
	-ms-transition: all 1.5s cubic-bezier(.25, .46, .45, .94);
	transition: all 1.5s cubic-bezier(.25, .46, .45, .94)
}
/*Style for dropdown links*/

menu li:hover ul a {
	background: #fff;
	color: #3c3535;
}

menu ul li a:hover::before, .menuopenclose:hover::before{
	background-size: 22rem 22rem;
	filter: alpha(opacity=1);
	-moz-opacity: 1;
	opacity: 1;
}
/*Hover state for dropdown links*/

menu li:hover ul a:hover {
	background: #76c2af;
	color: #e7e9e7;
	text-shadow: none;
}
/*Hide dropdown links until they are needed*/

menu li ul {
	display: none;
}
/*Make dropdown links vertical*/

menu li ul li {
	display: block;
	float: none;
}
/*Prevent text wrapping*/

menu li ul li a {
	width: auto;
}
/*Display the dropdown on hover*/

menu ul li a:hover + ul,
menu ul li a +ul:hover {
	position: absolute;
	top:2.5rem;
	display: block;
}
/*Style 'show menu' label button and hide it by default*/

.button-collapse {
	display: none;
	z-index: 1000000;
}

#navigation a,
.menuopenclose,
figure:focus,
menu *,
menu ul li a::before,
aside,
aside > *,
aside a,
aside a:before {
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-o-transition: all .6s ease;
	-ms-transition: all .6s ease;
	transition: all .6s ease;
}