@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto+Condensed:400,300,700|Roboto:400,700,100,400italic);

body,p,.sans {
	font-family: roboto,sans-serif;
	font-weight: 400;
}
h1,h2,h3,h4,h5,h6,.listad,.serif {
	font-family: "Roboto Slab",Georgia,serif;
}
.monospace, .capital:first-letter {
	font-family: "American Typewriter",'Courier New',Courier,monospace !important;
	text-align: left;
}

.ultrafina {
	font-family: roboto, sans-serif !important;
	font-weight: 100  !important;
	letter-spacing: .05em;
}

.condensed {
	font-family: "Roboto Condensed",sans-serif !important;
	text-transform: uppercase;
}
