@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,400italic,700italic|Oswald|Quattrocento:400,700);

/*DEFINICION DE TIPOGRAFIAS*/
/* */
body,p,.sans{
	font-family:'Lato',sans-serif;
	font-weight:400;
}
h1,h2,h3,h4,h5,h6,.listad,.capital:first-letter, .serif{
	font-family:'Quattrocento',Georgia,serif
}

html>body{font-size:14px}
body{
    line-height:1.5em; 
}

/*TIPOGRAFIAS ESPECIALES*/
.monospace{font-family:"American Typewriter",'Courier New',Courier,monospace;text-align:left}
.ultrafina{font-family:'Lato',sans-serif;font-weight:100; letter-spacing:0.05em}
.condensed{font-family:'Oswald',sans-serif;text-transform:uppercase;}