body {	
background:#D2CDC0 url(../images/ajax-loader.gif) no-repeat 50% 50%;
}

.sidebar a, #pagination a, #pagination .current, .sidebar > div, #mainsidebar {
color:#fff;
text-decoration:none;
font-size:1em;
line-height:1.5em;
padding:.25em;
min-width:2.5em;
margin: 0;
}

nav {
font-size: 1.2em
}

/* .sidebar a, #pagination a, #pagination .current, #pagination {
color:#000
} */

.sidebar > div {
width:100%;
padding:0 1em;
margin-bottom:2em;
}


#pagination a, #pagination .current,#pagination .text-black ,nav, .sidebar > div, .button {
display:inline-block;
text-decoration:none;
}

#pagination a:hover, .sidebar a:hover {
background-color:#CC324B;
background-image:none;
border-color: #11a8ab;
color:#fff;
}


#pagination a, #pagination .current {
background: #50597b;
color: #fff;
border: solid 1px #1f253d;
border-radius: 5px;		
text-align:center;
padding-top: .25em;
line-height:1.75em;
width:2.5em;
height:2.5em;
}

#pagination .current {
background-color:#394264;
background-image:none;
color:#aaa;
border-color:#11a8ab;
font-weight:bold
}

#pagination .text-black {
color:#fff !important;
padding:.25em 1.5em;
border-radius: 1em;
height:2.5em;
border:1px solid #1f253d;
background-color:#394264;
}

.sidebar li {
margin:.5em 0
}

/*barras*/
#mainsidebar, #comentarios{
position:relative;
width:100%;
height:100%;
top:0;
left:0;
bottom:0;
right:0;
margin: auto;
zoom:1;
background-image: none;
background-color:#394264;
color: #fff;
}

/*formato del sidebar */
.sidebar {
position:relative;
top:0 left:0;
width:30%;
float:left;
margin:0 1em;
}

.sidebar > div {
padding:.5em;
width:100%;
z-index:100;
clear:none;
}

.sidebar h2 {
font-family:'League_Gothic',sans-serif;
text-transform:uppercase;
padding-right:8px;
color:#fff;
border-bottom:2px dotted #888;
padding-bottom:8px
}

.attachment-thumbnail {
float:left;
padding:0 1em 1em 0;
width:100%;
height:auto
}

#fontsize {
position:absolute;
top:0;
left:0;
width:0;
height:0
}


/*iconos*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
font-family:'simbolos';
font-style:normal;
font-weight:normal;
speak:none;
display:inline-block;
text-decoration:inherit;
width:1em;
margin-right:0.2em;
text-align:center;
font-variant:normal;
text-transform:none;
line-height:1em;
margin-left:0.2em;
}

.top_menu {
position:absolute;
top:0;
left:0;
z-index:500;
width:100%;
background-color:rgba(255, 255, 255, 0);
-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
-ms-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
}

.top_menu ul {
font-size:1.2rem;
position:relative;
float:right;
margin:0;
padding:0;
margin-top:-5em;
list-style:none;
text-align:right;
color:white;
text-shadow:-1px -1px 2px #3c3535,1px -1px 2px #3c3535,-1px 1px 2px #3c3535,1px 1px 2px #3c3535;
padding:.25em;
-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
-ms-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
}

.top_menu:hover ul, .top_menu ul:hover {
margin-top:0;
}
.top_menu:hover{
background-color:rgba(255, 255, 255, .50);
border-bottom:1px solid black;
box-shadow:-0.5em 0.5em 2em rgba(0,0,0,0.5);
-moz-box-shadow:-0.5em 0.5em 2em rgba(0,0,0,0.5);
-webkit-box-shadow:-0.5em 0.5em 2em rgba(0,0,0,0.5);
}

.top_menu li {
float:left;
padding:.25em 1em;
text-align:center;
}

.top_menu li > * {
display:block;
color:#fff;
text-decoration:none;
width:auto;
}

.top_menu li >*:hover {
    color:#dfbf20
}

.top_menu [class^="icon-"]:before, .top_menu [class*=" icon-"]:before, ul.page-numbers:before,.page-numbers.next:before,.page-numbers.prev:before {
color:#fff;
text-shadow:none;
font-family:'simbolos';
speak:none;
font-style:normal;
font-weight:normal;
font-variant:normal;
text-transform:none;
line-height:1em;
-webkit-font-smoothing:antialiased;
clear:both;
position:relative;
display:block;
margin:.2em auto;
width:2.8em;
height:2.8em;
padding:.8em;
border:.2em solid white;
border-radius:100%;
font-size:150%;
box-shadow:0 0 0 1em transparent;
background:rgba(57, 66, 100,.9);
-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
-ms-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
}
.page-numbers:before{
  content: "";
}

ul.page-numbers,ul.page-numbers:hover  {
    float:left;
    background-color:rgba(255,255,255,0) !important; 
    margin:0 !important;
    padding:0 !important; 
    border:none;
    box-shadow: none;
    -webkit-transition:none;
    -moz-transition:none;
    -o-transition:none;
    -ms-transition:none;
    transition: none;
}

ul.page-numbers:before {
    content:"\f0c5";
    text-align:center;
}

.page-numbers.current {
    color:#df8020
}

.page-numbers.next:before, .page-numbers.prev:before{
    margin-top: -3em;
}
.page-numbers.next:before{
  content: "\f054";
}
.page-numbers.prev:before{
  content: "\f053";
}

.top_menu li > *:hover:before, .top_menu li > *:active:before, .top_menu li > *:focus:before {
box-shadow:0 0 0 0 rgba(0, 0, 0,.5);
-webkit-transition:box-shadow .4s ease-in-out;
-moz-transition:box-shadow .4s ease-in-out;
-o-transition:box-shadow .4s ease-in-out;
-ms-transition:box-shadow .4s ease-in-out;
transition:box-shadow .4s ease-in-out;
}

.top_menu:hover + section article{
	-webkit-filter:brightness(0.25) saturate(0);
	filter:brightness(0.25) saturate(0);
}
article {
-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
-ms-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
}

.help + div {
margin-bottom: 200%;
 -webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
-ms-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;   
}
.help:hover + div {
    margin-bottom:0;
}

#social a:hover {
    background-color:transparent;
}
#social ul {
    position:relative;
    list-style: none;
    width: 100%;
}
#social ul li {
    position:relative;
    display:inline-block;
    float:left;
    color: #fff;
    border-radius: .25em;
    margin: .25em;
    width: 40%;
}
#social ul li:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width: 2em;
    height:100%;
    border-right: 1px solid #ccc;
    background-color:rgba(127,127,127,.25);
	border-top-left-radius:.25em;
	border-bottom-left-radius:.25em;
	-moz-border-radius-bottomleft:.25em;
	-moz-border-radius-topleft:.25em;
	-webkit-border-bottom-left-radius:.25em;
	-webkit-border-top-left-radius:.25em
}
#social [class^="icon-"]:before,
#social [class*=" icon-"]:before {
    width: 1em;
    margin-right:1em;
    z-index:10;
    color:#fff;
}
#social ul li a {
    padding:.5em;
    line-height:2em;
    color: #ddd;
}
#social ul li a:hover {
    color: #394264;
    border-radius:.25em;
}

.input-container {
position: relative;
margin: 0 auto;
font-size: 15px !important;
}
input[type=text], input[type=submit],textarea{
width: 100%;
height: 50px;
margin-left: 20px;
margin-bottom: 20px;
padding-left: 45px;
background: #50597b;
color: #fff;
border: solid 1px #1f253d;
border-radius: 5px;		
}
input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
color: #fff;	   		
}
input[type=text]:-moz-input-placeholder { /* Mozilla Firefox 4 to 18 */
color: #fff;	   
}
input[type=text]::-moz-input-placeholder { /* Mozilla Firefox 19+ */
color: #fff;
}
input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #fff;	   	
}
input:focus, textarea:focus  {
outline: none; /* removes the default orange border when focus */
border: 1px solid #11a8ab;
}
input[type=submit] {
border-radius:1em;
padding: 0 1em;
width:auto;
clear:both;
float:right;
}
input[type=submit]:hover {
background-color:#CC324B;
border: 1px solid #11a8ab;
}
.input-icon {
font-size: 22px;
position: absolute;
left: 31px;
top: 8px;
color: #9099b7;
z-index:100;
}
textarea{
height:10em;
}

/* animaciones */
.section-moveToLeft {
	-webkit-animation: moveToLeft .5s ease both;
	-moz-animation: moveToLeft .5s ease both;
	animation: moveToLeft .5s ease both;
}
.section-moveToRight {
	-webkit-animation: moveToRight .6s ease both;
	-moz-animation: moveToRight .6s ease both;
	animation: moveToRight .6s ease both;
}
@-webkit-keyframes moveToLeft {
	to { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes moveToLeft {
	to { -moz-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	to { transform: translateX(-100%); }
}
@-webkit-keyframes moveToRight { 
	to { -webkit-transform: translateX(100%); }
}
@-moz-keyframes moveToRight { 
	to { -moz-transform: translateX(100%); }
}
@keyframes moveToRight { 
	to { transform: translateX(100%); }
}