body {
    background: #D2CDC0 url(../images/ajax-loader.gif) no-repeat 50% 50%
}
section {
/*    max-width: 2048px*/
}
.sidebar a,
.sidebar > div,
#mainsidebar,
#comentarios {
    text-decoration: none;
    font-size: 14px;
    font-size: 1vw;
    line-height: 1.5em;
    padding: .25em;
    min-width: 2.5em;
    margin: 0;
}
.sidebar > div {
    width: 100%;
    padding: 0 1em;
    margin-bottom: 2em;
}
.sidebar li {
    margin: .5em 0
}
.sidebar a:hover {
    background-color:#CC324B;
    background-image:none;
    border-color: #11a8ab;
    color:#fff;
}
/*barras*/
#mainsidebar,
#comentarios {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
}
/*formato del sidebar */
.sidebar {
    position: relative;
    top: 0 left:0;
    width: 30%;
    float: left;
    margin: 0;
    padding: 1em;
}
@media screen and (max-width:800px) { 
    .sidebar {
        width: 100%
    }
}
.sidebar > div {
    padding: .5em;
    width: 100%;
    z-index: 3;
    clear: none;
}
.sidebar h2 {
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    padding-right: 8px;
    border-bottom: 2px dotted #888;
    padding-bottom: 8px;
}
.attachment-thumbnail {
    float: left;
    padding: 0 1em 1em 0;
    width: 100%;
    height: auto;
}
#fontsize {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}
/*iconos*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'simbolos';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
}
nav {
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    padding: .25em 0;
    z-index: 3;
    width: 100%;
    background-color: transparent;
}
nav:hover {
    background-color: rgba(255, 255, 255, .50);
    border-bottom: 1px solid #394264;
    box-shadow: -0.5em 0.5em 2em rgba(0,0,0,0.5);
    -moz-box-shadow: -0.5em 0.5em 2em rgba(0,0,0,0.5);
    -webkit-box-shadow: -0.5em 0.5em 2em rgba(0,0,0,0.5);
}

nav ul {
    position: relative;
    float: right;
    padding: 0;
    height: 3.5em;
    margin: -2.25em 0 0 0;
    list-style: none;
    text-align: right;
    color: white;
/*    text-shadow: -1px -1px 1px #3c3535,1px -1px 1px #3c3535,-1px 1px 1px #3c3535,1px 1px 1px #3c3535; */
    padding: 0 .25em;
}
nav:after{
    position: absolute;
    bottom:0;
    left:0;
    font-family: "simbolos";
    font-size: 1em;
    color: #fff;
    text-shadow: -1px -1px 1px #000,1px -1px 1px #000,-1px 1px 1px #000,1px 1px 1px #000;
    border-radius: .25em;
    padding: .5em;
    content:"\f039";
}
nav:hover ul,
nav ul:hover {
    margin-top: 0;
    height: 2em;
}
nav:hover:after{
    margin-bottom: .5em;
    color:#000;
    text-shadow: -1px -1px 1px #fff,1px -1px 1px #fff,-1px 1px 1px #fff,1px 1px 1px #fff;
}
nav ul li {
    display: inline-block;
    float: left;
    padding: 0 1em;
    margin: 0;
    text-align: center;
    border: 1px solid white;
    background-color: rgba(204, 50, 75,.25);
    padding: .125em;
    margin: .125em;
}
nav ul li:hover{
    background-color: rgba(204, 50, 75,.9);
    border: none;
}
nav ul li > * {
    display: inline-block;
    text-decoration: none;
    min-width: 2em;
    padding: 0 .25em;
    width: auto;
    color: #fff;
}
nav .current {
    color:#ccc;
}
nav .current:hover {
    color:#eee;
}
nav ul li >*:hover {
    color: #11a8ab;
}
.page-numbers.next:after {
    font-family: "simbolos";
    content: "\f054";
    padding: 0 1em;
}
.page-numbers.prev:before {
    font-family: "simbolos";
    content: "\f053";
    padding: 0 1em;
}
nav:hover + section {
    -webkit-filter: brightness(0.25) saturate();
    filter: brightness(0.25) saturate();
}

.help + div {
    margin-bottom: 200%;
}
.help:hover + div {
    margin-bottom: 0
}
.label a:hover {
    background-color: transparent
}
.label ul {
    position: relative;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
    display: block;
}
.label ul li {
    position: relative;
    display: inline-block;
    float: left;
    color: #fff;
    border: 1px solid black;
    width: 33.33%;
    height: 5rem;
    font-size: 1.5rem;
    /*    margin: .25em .3333%;*/
}
.label ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.25);
}
.label ul li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    font-family: lato, sans-serif;
}
.label ul li:hover {
    border: none
}
.label ul li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3em;
    height: 100%;
    background-color: rgba(0,0,0,.25);
}
.label ul li:hover:before {
    background-color: transparent
}
.label ul li:hover a:before {
    font-size: 125%
}
.label ul li:hover:after {
    background-color: rgba(0,0,0,.125)
}
.label [class^="icon-"]:before,
.label [class*=" icon-"]:before {
    width: 1em;
    margin-right: 2em;
    padding-left: 1em;
    z-index: 3;
}
.label ul li a {
    line-height: 2em;
    color: #ccc;
}
.label ul li a:hover {
    color: #fff;
    margin-left: -.5em;
    letter-spacing: .125em;
}
.input-container {
    position: relative;
    margin: 0 auto;
    font-size: 15px !important;
}
input[type=text],
input[type=submit],
textarea {
    width: 100%;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 45px;
    background: rgba(0,0,0,.125);
    color: #fff;
    border: solid 1px #1f253d;
}
input[type=text]::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #fff;
}
input[type=text]:-moz-input-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
}
input[type=text]::-moz-input-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
}
input[type=text]:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #fff;
}
input:focus,
textarea:focus {
    outline: none; /* removes the default orange border when focus */
    border: 1px solid #11a8ab;
}
input[type=submit] {
    min-width: 50%;
    padding: 0 1em;
    text-align: center;
    clear: both;
    background-color: rgba(204, 50, 75,.25);
}
input[type=submit]:hover {
    background-color: rgba(204, 50, 75,1);
    border: 1px solid #11a8ab;
}
.input-icon {
    font-size: 22px;
    position: absolute;
    left: 31px;
    top: 8px;
    color: #9099b7;
    z-index: 3;
}
textarea {
    height: 10em
}
/* animaciones */
.section-moveToLeft {
    -webkit-animation: moveToLeft .5s ease both;
    -moz-animation: moveToLeft .5s ease both;
    animation: moveToLeft .5s ease both;
}
.section-moveToRight {
    -webkit-animation: moveToRight .6s ease both;
    -moz-animation: moveToRight .6s ease both;
    animation: moveToRight .6s ease both;
}
@-webkit-keyframes moveToLeft { 
    to {
        -webkit-transform: translateX(-100%)
    }
}
@-moz-keyframes moveToLeft { 
    to {
        -moz-transform: translateX(-100%)
    }
}
@keyframes moveToLeft { 
    to {
        transform: translateX(-100%)
    }
}
@-webkit-keyframes moveToRight { 
    to {
        -webkit-transform: translateX(100%)
    }
}
@-moz-keyframes moveToRight { 
    to {
        -moz-transform: translateX(100%)
    }
}
@keyframes moveToRight { 
    to {
        transform: translateX(100%)
    }
}

nav,
nav ul, 
nav ul li, 
nav ul li>*,
nav:after,
section,
.help + div,
.label ul li:before,
.label ul li:after,
.label [class^="icon-"]:before,
.label [class*=" icon-"]:before,
.label ul li a,
input[type=submit] 
{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}