article{width:99%;}
section { overflow-x:hidden}

nav, .top_menu {
position:absolute;
top:0;
left:0;
z-index:500;
width:100%;
}

.top_menu ul {
font-size:1em;
position:relative;
float:right;
margin 0 18px 0 0 !important;
list-style:none;
text-align:right;
background-color:#eee;
color:#000;
padding:0 .25em;
border-left:1px solid black;
border-bottom:1px solid black;
}

.top_menu li {
position:relative;
float:left;
padding:0 1em;
text-align:center;
}

.top_menu li > * {
display:inline;
float:left;
color:#000;
text-decoration:none;
width:auto;
}

.top_menu li >*:hover {
    color:#CC324B
}

ul.page-numbers{
    position:static;
    top:0;
    left:0;
    float:left;
    display:inline;
    margin:0 !important;
    padding:0 !important; 
    border:none;
}

.page-numbers.current {
    color:#df8020
}
