@import url(http://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans:300italic,400italic,700italic,400,300,700|Open+Sans+Condensed:300,700,300italic|Amatic+SC|Quattrocento:400,700);

@font-face {font-family: 'League_Gothic'; src: url('fonts/League_Gothic-webfont.eot'); src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/League_Gothic-webfont.woff') format('woff'), url('fonts/League_Gothic-webfont.ttf') format('truetype'), url('fonts/League_Gothic-webfont.svg') format('svg'); font-weight: normal; font-style: normal; }

@font-face {font-family: 'simbolos'; src: url('fonts/fontawesome-webfont.eot?v=3.0.1'); src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype'); font-weight: normal; font-style: normal;}

/* Windows Chrome ugly fix http://stackoverflow.com/questions/13674808/chrome-svg-font-rendering-breaks-layout/14345363#14345363 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'simbolos';
		url('fonts/fontawesome-webfont.svg') format('svg');
	};
}


/*css reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0 none;outline:0;font-size:100%;vertical-align:baseline;font-style:normal;font-variant:normal;font-weight:normal}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:after,q:after,q:after{content:'';content:none}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}

/*FORMATO DE LAS TABLAS*/
table{width:99%}
tr.even td,tr.odd td{padding:.125em .25em}
tr.odd{background-color:#fff}
table{margin-bottom:1.5em;width:100%;max-width:100%}
thead tr:last-of-type th{border-bottom-width:2px}
tbody th{border-right-width:2px}
th:empty{border:0}
th,td{vertical-align:top;padding:.125em;border:1px solid #ccc}
th{font-weight:bold;text-align:center}
table [colspan]{text-align:center}
table [rowspan]{vertical-align:middle}
[colspan="1"]{text-align:left}
[rowspan="1"]{vertical-align:top}
tbody tr:nth-of-type(odd){background:rgba(0,0,0,0.05)}
tfoot{text-align:center}
tfoot td{border-top-width:2px}
td {text-align:center}
/*DEFINICION DE TIPOGRAFIAS*/
/* */
body{font-size:12px;line-height:1.5em;font-family:'Open Sans',sans-serif}

h1, h2, h3, h4 {font-family:'League_Gothic',sans-serif;text-transform:uppercase;}


html>body{font-size:2.6vw}
body{
line-height:1.5em;
background-color: #ddd;
color:#444;
width: 90%;
margin: 0 auto;
padding: 1em 0;
overflow-x: hidden;
overflow-y: auto;
}

/*TIPOGRAFIAS ESPECIALES*/
.monospace{font-family:"American Typewriter",'Courier New',Courier,monospace;text-align:left}
.ultrafina{font-family:'horatiodligregular',sans-serif;font-weight:300; letter-spacing:0.05em}
.script{font-family:'La Belle Aurore',sans-serif;line-height:200%}
.condensed{font-family:'League_Gothic',sans-serif;text-transform:uppercase;}
.amatic{font-family:'Amatic SC',"Comic Sans MS",sans-serif}
.symbol{font-family:'simbolos',sans-serif}


/*FORMATO DE LA WEB*/
*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;} 
h1{font-size:2em;margin-bottom:.75em;line-height:1.5}
h2{margin:0;font-size:1.5em;line-height:1em;margin-bottom:1em}
h3{margin:0;font-size:1.375em;line-height:1.0909090909090908em;margin-bottom:1.0909090909090908em}
h4{margin:0;font-size:1.25em;line-height:1.2em;margin-bottom:1.2em;font-weight:bold}
h5{margin:0;font-size:1.25em;line-height:1.2em;margin-top:1.2em;font-weight:normal;font-variant:small-caps}
p{padding-top:0.5em; padding-bottom: 0.5em}
ul,ol{margin:0}
pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5}
pre{background-color:#efefef;border:1px solid #aaa;display:block;margin:.25em 0;padding:.25em}
abbr{border-bottom:1px dotted #666;cursor:help;white-space:nowrap}
blockquote{margin:1.5em 0;padding:0 1.5em}
blockquote p{font-style:italic}
strong{font-weight:bold}
em{font-style:italic}
acronym{cursor:help;font-size:1em;font-variant:small-caps;text-decoration:none}
p{text-align:justify;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto}
p+div{margin-top:1em}
small,cite,.small{font-size:.75em;line-height:1.25em}
cite{font-style:italic}
object,embed{clear:both;height:auto;left:0;margin:0;padding:0;width:100%}
div+p,blockquote+p,h1+p,h2+p,h3+p,h4+p,h5+p{text-indent:0}
sup{vertical-align:super;font-size:50%}
sub{vertical-align:sub;font-size:50%}
figcaption{z-index:1000}
ieldset{padding:.6em;border:1px solid #ccc;margin-bottom:1.5em}
label{display:block;cursor:pointer}
input,textarea{font-family:inherit;font-size:1em;line-height:1.5}
[placeholder]{cursor:pointer}
[placeholder]:active,[placeholder]:focus{cursor:text}
fieldset>:last-child{margin:0}

figure, iframe, object {position:relative; width: 100%; margin: 0 auto; overflow-x: hidden; overflow-y: auto}
iframe, object{height: 600px}
img {position: relative; width:100%; height: auto; clear: both; padding: .5em 0}

.nomobile {display: none; visibility: hidden}

article a:hover{cursor:pointer}

article a::-moz-focus-inner{border:0}

article a{position:relative;display:inline-block;margin:.5em auto;padding:8px 12px;font-family:"Open Sans",arial,sans-serif!important;text-decoration:none;width:100%;font-weight:bold;text-align:center;text-shadow:0 1px 0 rgba(255,255,255,0.5);vertical-align:top;cursor:pointer;background-color:#1eafe7;background-image:-webkit-linear-gradient(top,#1eafe7 0,#1a97c8 100%);background-image:linear-gradient(to bottom,#1eafe7 0,#1a97c8 100%);border:1px solid #117aaa;border-radius:3px;box-shadow:inset 0 1px 1px rgba(255,255,255,.4),0 1px 2px rgba(0,0,0,.05);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.3)}

article a:hover {background-image: none;background-color: #0080ff }

#social {font-size: .7em}
#social li {display: inline; float: left; width:33%; padding: 1em 1%; text-align:center}
#social ul {
	position: relative;
	width:100%;
	display: block;
	clear: both;
	font-family: 'Open Sans',sans-serif;
	margin: 0 0 1em 0;
	padding: 0 0 1em 0;
	list-style: none;
	color:white;
	text-shadow:-1px -1px 2px #3c3535,1px -1px 2px #3c3535,-1px 1px 2px #3c3535,1px 1px 2px #3c3535;
}

#social a {
	display: block;
	color: #fff;
	text-decoration: none;
	width: auto;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

}

#social a:hover {
	color: #fff;
}

#social [class^="icon-"]:before,
#social [class*=" icon-"]:before {
	color:#fff;
	text-shadow: none;
	font-family: 'simbolos';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	clear: both;
	position: relative;
	display: block;
	margin: .25em auto;
	width: 1em;
	padding: 0.6em;
	border: 4px solid white;
	border-radius: 50%;
	font-size: 1.5em;
	box-shadow: 0 0 0 1em transparent;
	background: rgba(78, 91, 122,.9);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}	
	
	/* Animate the box-shadow to create the effect */
#social a:hover:before,
#social a:active:before,
#social a:focus:before{		
	box-shadow: 0 0 0 0 rgba(0, 0, 0,.5);
	-webkit-transition: box-shadow .4s ease-in-out;
	-moz-transition: box-shadow .4s ease-in-out;
	-o-transition: box-shadow .4s ease-in-out;
	-ms-transition: box-shadow .4s ease-in-out;
	transition: box-shadow .4s ease-in-out;
}




nav{position:fixed;top:0;right:0;left:0;text-align: center;z-index:100000;padding:5px;
box-sizing:border-box;display:-webkit-box;display:block;background-color:#1eb0e9;
background-image:-webkit-linear-gradient(top,#1eb0e9 0,#109adc 100%);background-image:linear-gradient(to bottom,#1eb0e9 0,#109adc 100%);border-bottom:1px solid #0e5895;box-shadow:inset 0 1px 1px -1px rgba(255,255,255,.8);-webkit-box-orient:horizontal;box-orient:horizontal}

#pagination a, #pagination .current{z-index:1000;font-size:.8em;padding:0 .33em;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.3);background-color:#1eb0e9;background-image:-webkit-linear-gradient(top,#1eb0e9 0,#0984c6 100%);background-image:linear-gradient(to bottom,#1eb0e9 0,#0984c6 100%);border:1px solid #0e5895;border-radius:4px;box-shadow:0 1px rgba(255,255,255,.25);-webkit-box-flex:0;box-flex:0;text-decoration:none;}
#pagination a:hover{color:#ff0;background-color:#4876b1;background-image:none}
#pagination a:active{color:#fff;background-color:#0876b1;background-image:none}

.prev{position:absolute;top;5px;left:5px;margin-left:7px}
.next{position:absolute;top:5px;right:5px;float:right;margin-right:7px}
.prev,.next{font-size:1em; color:fff;text-shadow:1px 1px .25em rgba(0,0,0,0.8);}

#pagination .current {background-color: #ccc; background-image: none; color: #888; font-weight:bold}

#pagination .text-black {padding: 0 .5em; border-radius: 1em; border: 1px solid black; background: rgba(255,255,255,.5); text-shadow: 1px 1px 1px white}

#fontsize {position:absolute; top:0; left:0; width:0; height:0;display:none;visibility:hidden}
