@import url('./css/html5reset.css');
@import url('./css/typography.css');
@import url('./css/icons.css');
@import url('./css/main.css');

@import url('./css/images.css');
@import url('./css/grid.css');
@import url('./css/css2.css');
@import url('./css/css3.css');

@import url('./css/colors.css');
@import url('./css/colors_main.css');

/* print */
@page {
	size: A4 landscape;
	page-break-inside: always;
	page-break-after: always;
	page-break-before: always;
	overflow: auto;
    margin: 0;
    padding: 0;
	zoom: 1;
}

section {
	position: relative;
	width: 297mm; /* */
	height: 210mm; /* */
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-text-size-adjust: 100%;
	background-color: #e7e9e7;
	margin: auto;
	page-break-after: always;
	page-break-before: always;
	page-break-inside:auto;
	font-size: 77%;
}
nav, .menuopenclose, aside, #comentarios {
	visibility: hidden;
	display: none;
	opacity: 0;
}